@import "tailwindcss";

@font-face {
    font-family: 'PyeojinGothic';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2504-1@1.0/PyeojinGothic-Light.woff2') format('woff2');
}

@theme {
    --font-ck: 'PyeojinGothic', serif;
}

//눈누 폰트 적용